{% extends '::base.html.twig' %}

{% block title %} Авторизация {% endblock %}

{% block body %}

	<div class="row">
		<div class="span4 offset4">
			<h1>Авторизация</h1>

			<form action="{{ path('login_check') }}" method="post" class="form" name="login">
				<div id="login" class="form">
					{% if error %}
						<div class="alert alert-error">
							{{ error.message }}
						</div>
					{% endif %}

					<div class="control-group">
						<label for="username" class="required control-label">Email</label>

						<div class="controls">
							<input type="text" id="username" name="_username" class="input-xlarge" value="{{ last_username }}" placeholder="Email" required autofocus />
						</div>
					</div>

					<div class="control-group">
						<label for="password" class="required control-label">Пароль</label>

						<div class="controls">
							<input type="password" id="password" name="_password" class="input-xlarge" placeholder="Пароль" required />
						</div>
					</div>

					<div>
						<button class="btn btn-lg btn-success btn-block" type="submit">Войти</button>
						<a href="{{ path('registration') }}" class="btn btn-lg btn-primary btn-block">Зарегестрироваться</a>
                        <div class="social-enter">
                            <a href="{{ vkontakte_link() }}" class="login-link vk"></a>
                            <a href="{{ facebook_link() }}" class="login-link fb"></a>
                            <div class="cb"></div>
                        </div>
					</div>
				</div>
			</form>
		</div>
		<div class="span3"></div>
	</div>


{% endblock %}

