{% block form_row %}
	{% spaceless %}
		<div class="control-group {% if errors|length > 0 %}error{% endif %}">
			{{ form_label(form) }}
			{{ form_errors(form) }}
			<div class="controls">
				{{ form_widget(form) }}
			</div>
		</div>
	{% endspaceless %}
{% endblock form_row %}

{% block form_label %}
	{% spaceless %}
		{% if label is not sameas(false) %}
			{% if not compound %}
				{% set label_attr = label_attr|merge({'for': id}) %}
			{% endif %}
			{% if required %}
				{% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
			{% endif %}
			{% if label is empty %}
				{% set label = name|humanize %}
			{% endif %}
			{% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' control-label')|trim}) %}
			<label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
		{% endif %}
	{% endspaceless %}
{% endblock form_label %}