{% macro menu() %}
    {% spaceless %}
        <div class="row">
            <div class="span12">
                <div class="navbar navbar-inverse">
                    <div class="navbar-inner">
                        <div class="container">

                            <a class="brand" href="{{ path('home') }}">Перевозки для всех</a>

                            {% set menu = {
                                'Главная': path('home'),
                                'Чаты': path('channels')
                            } %}

                            <ul class="nav">
                                {% for name,url in menu %}
                                    <li{% if app.request.pathInfo == url %} class="active"{% endif %}>
                                        <a href="{{ url }}">{{ name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>

                            <ul class="nav pull-right">
                                <li class="divider-vertical"></li>
                                <li class="dropdown">
                                    <a href="javascript: void(0)" class="dropdown-toggle" data-toggle="dropdown">Профиль <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('profile') }}">Смотреть</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ path('logout') }}">Выйти</a></li>
                                    </ul>
                                </li>
                            </ul>

                            <div class="nav-collapse collapse">
                                <!-- .nav, .navbar-search, .navbar-form, etc -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endmacro menu %}

{% macro getMessages(messages) %}
    {% spaceless %}
        <table class="table">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Сообщение</th>
                    <th>Время</th>
                </tr>
            </thead>
            <tbody class="messages">
                {% for message in messages %}
                    {{ _self.getMessage(message) }}
                {% endfor %}
            </tbody>
        </table>
    {% endspaceless %}
{% endmacro %}

{% macro getMessage(message) %}
    {% spaceless %}
        <tr>
            <td>
                <small>{{ message.user.fullName|default('{{user_full_name}}') }}</small>
            </td>
            <td class="message-body-row">{{ message.body|default('{{message_body}}') }}</td>
            <td class="muted">{{ message.chatDate|default('{{message_date}}') }}</td>
        </tr>
    {% endspaceless %}
{% endmacro %}