.cb {
    clear: both;
}

body {
    padding-top: 10px;
    padding-bottom: 40px;
    /*background-color: #f5f5f5;*/
}

.form {
    padding: 20px;
    background-color: #fff;
}

.form .form-heading,
.form .checkbox {
    margin-bottom: 10px;
}
.form input[type="text"],
.form input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.login-link {
	background-image: url('/bundles/driverswebsite/images/socials.png') ;
	width: 32px;
	height: 32px;
	display: block;
    float: left;
    margin-right: 5px;
}

.login-link.vk {
	background-position: 0 -38px;
}

.login-link.fb {
	background-position: 0 -143px;
}

.social-enter {
    margin-top: 5px;
}

.chat-message-field {
    resize: vertical;
}

.message-body-row {
    overflow: hidden;
    max-width: 400px;
    text-align: left;
}

#chat-messages {
    max-height: 700px;
    overflow-y: scroll;
    margin-bottom: 20px;
}