{% extends '::base.html.twig' %}

{% block title %} Администраторская панель {% endblock %}

{% block body %}

    <div class="row">
        <div class="span4 offset4">
            <h1>Авторизация</h1>

            <form action="{{ path('login_check_admin') }}" method="post" class="form" name="login">
                <div id="login" class="form">
                    {% if error %}
                        <div class="alert alert-error">
                            {{ error.message }}
                        </div>
                    {% endif %}

                    <div class="control-group">
                        <label for="username" class="required control-label">Логин</label>

                        <div class="controls">
                            <input type="text" id="username" name="_username" class="input-xlarge" value="{{ last_username }}" placeholder="Логин" required autofocus />
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="password" class="required control-label">Пароль</label>

                        <div class="controls">
                            <input type="password" id="password" name="_password" class="input-xlarge" placeholder="Пароль" required />
                        </div>
                    </div>

                    <div>
                        <button class="btn btn-lg btn-success btn-block" type="submit">Войти</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="span3"></div>
    </div>


{% endblock %}

