{% extends '::base.html.twig' %}

{% block title %} Личный профиль {% endblock %}

{% block body %}
    {{ macros.menu() }}

    <div class="row">
        <div class="span4 offset4">
            <h1>Привет, {{ app.user.firstname|default('%Username%') }} {{ app.user.lastname|default('%Username%') }}</h1>

            {{ form(form) }}
        </div>
        <div class="span4"></div>
    </div>
{% endblock %}