{% extends '::base.html.twig' %}

{% block title %} Чаты {% endblock %}

{% block body %}
    {{ macros.menu() }}

    <div class="row">
        {% for channel in channels %}
            <div class="span4">
                <a href="{{ path('channel', {'slug': channel.slug}) }}" class="btn btn-large btn-block btn-primary" type="button">{{ channel.name }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}