{% extends '::base.html.twig' %}

{% block title %} Чат - {{ channel.name }} {% endblock %}

{% block body %}
    {{ macros.menu() }}

    <div class="row">
        <div class="span6 offset3">

            <div class="alert alert-error hidden">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <span class="content"></span>
            </div>

            <div id="chat">
                <ul id="chat-members">

                </ul>

                <div id="chat-messages">
                    {{ macros.getMessages(messages) }}
                </div>

                <div id="chat-message">
                    <textarea rows="3" class="input-block-level chat-message-field"></textarea>
                    <button class="btn btn-large btn-block btn-success send-message" type="button">Отправить сообщение</button>
                </div>
            </div>
        </div>
    </div>

    <input
        type="hidden"
        id="data"
        data-dns="{{ websocket_dns() }}"
        data-user="{{ app.user.id }}"
        data-name="{{ app.user.fullName }}"
        data-room-name="{{ channel.slug }}"
        data-room-id="{{ channel.id }}"
        data-prototype='{{ macros.getMessage({}) }}'
    />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/chat.js') }}"></script>
{% endblock %}