{% extends '::base.html.twig' %}

{% block title %} Регистрация {% endblock %}

{% block body %}
	<div class="row">
		<div class="span4 offset4">
			<h1>Регистрация</h1>
			{{ form(form, {'attr': {'class': 'form'}}) }}
		</div>
		<div class="span3"></div>
	</div>
{% endblock %}